.sst/
node_modules/
dist/
.env
.env.local

# python
.venv/
__pycache__/
*.pyc

# layer build artifacts
layers/*/build/
layers/*/*.zip

# frontend build
packages/frontend/dist/
packages/frontend/node_modules/
